#set($layout="emptylayout.vm")
#set($ctx="$request.contextPath")
<div
	style='height: 462px; width: 330px; background: #fff; border: 1px solid #fff'>
	<div style='margin: 0; padding: 0; align: center; text-align: center;'>
		<h2
			style='margin-top: 55px; font-size: 21px; text-align: center; color: #333'>
			<span style='color: #000000'>${title}</span>
		</h2>
		<img src='${ctx}/article/getIcon?cid=${cid}'
			style='width: 181px; height: 181px; margin-top: 31px' />
		<p
			style='height: 34px; margin-top: 32px; text-align: center; align: center'>
			<img src='${ctx}/assets/img/mobile.png' />
		</p>
		<p
			style='text-align: center; color: #999; max-width: 180px; margin: 0 auto; margin-top: 22px; font-size: 12px; color: #333'>
			<span style='color: #000000'>${desc}</span>
		</p>
	</div>
</div>
