#set($staticPath="$request.contextPath/assets")
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>pipe信息</title>
<link rel="stylesheet" href="$staticPath/food/css/common.css" />
<link rel="stylesheet" href="$staticPath/food/css/food.css" />
<script language="javascript" type="text/javascript"
	src="$staticPath/js/jquery.min.js"></script>
<script>
	function queryBut(page) {
		$("input[name='pageNo']").val(page);
		$("#queryForm").submit();
	}
</script>

</head>

<body>
	<!-- 头部导航 -->
	<div id="header_wrapper" class="page-head">
		<header id="page-header" class="unified-header full-width "
			rel:gt_cat="[ttp]:header">
			<div id="upper-background">
				<div id="upper-wrapper" class="page-wrapper">
					<div class="upper">
						<div id="logo" class="social page-logo">
							<a class="logo" rel:gt_act="home" href="/"> <img
								src="/assets/images/head_logo.png" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="lower-background" class="nav-page">
				<div id="lower-wrapper" class="page-wrapper">
					<div class="lower">
						<div class="bf_dom nav-page__menu nav-left" rel:bf_bucket="gtrack"
							rel:gt_cat="[ttp]:header/menu">
							<div id="menu-news" class="menu-item ">
								<span> <a href="/show/list" rel:gt_act="news">首页</a></span>
							</div>
						</div>
						<!-- 右侧搜索 -->
						<div class="nav-right">
							<form class="page-search__form" action="/show/list" method="get">
								<input type="text" placeholder="Search"
									class="page-search__input" autocomplete="off"
									rel:gt_act="ignore" value="$!{articleListQueryVO.title}"
									name="title" id="searchName">
								<button class="page-search__search-button" onclick="queryBut(1)"></button>
							</form>
						</div>
					</div>
				</div>
		</header>
		<!-- 		<div class="title-bar title-bar--vertical bf_dom" -->
		<!-- 			rel:bf_bucket="gtrack" rel:gt_cat="Food:header"> -->
		<!-- 			<div class="page-container"> -->
		<!-- 				<a href="/food" rel:gt_act="vertical-header-image" -->
		<!-- 					rel:gt_label="Food"> <img -->
		<!-- 					src="https://webappstatic.buzzfeed.com/static/images/public/verticals/food-title.png?v=1465860945" -->
		<!-- 					alt="Food" class="vertical-header-logo"></a> -->
		<!-- 				<div class="bf-widget vertical-sponsorship" id="BF_WIDGET_30" -->
		<!-- 					rel:bf_ad_position="64"></div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		<div class="PageContainer js-page-container c" id="page_container">
			<!-- 左侧列表 -->
			<div class="PageContent page-content section  splash bf_dom">
				<!-- 列表 -->
				<div class="content">$screen_content</div>
			</div>

			<!-- 右侧广告位-->
			<div class="section Column2 sidebar-front" style="padding-top: 0px"
				data-bfa="@l:Right-Rail;">
				<h4 class="connect-widget__title"></h4>
				<!-- 				<div class="ades"> -->
				<!-- 					<div class="aditem"> -->
				<!-- 						<img -->
				<!-- 							src="http://image.tianjimedia.com/uploadImages/2014/050/I0I228KL3DSV.jpg" -->
				<!-- 							alt=""> -->
				<!-- 						<p>Galaxy Desserts Are Here To Put Your Rainbow Desserts To -->
				<!-- 							Shame Galaxy Desserts Are Here To Put Your Rainbow Desserts To -->
				<!-- 							Shame</p> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<footer>
		<div class="footerinner">
			<ul class="list--unstyled footer-menu footer-menu--main">

				<li><a href="">Pipe</a> 京ICP备16009729号-1</li>

			</ul>
		</div>
	</footer>
</body>
<style>
.page-search__form {
	position: relative;
	width: 156px;
	height: 26px;
	border: #e2e2e2 solid 1px;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
}

.page-search__form input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0 none;
	outline: inherit;
}

.page-search__search-button {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 50%;
	margin-top: -9px;
	right: 3px;
	background-image: url();
	background-size: 100% auto;
	border: 0 none;
	background-color: transparent
}

footer {
	margin-top: 100px;
	width: 100%;
	border-top: 1px solid #ccc;
	background: #e6e6e6 !important;
}

footer .footerinner {
	margin: 0 auto;
	width: 100%;
	max-width: 1040px;
	padding: 25px;
	position: relative;
}

footer .footer-menu {
	padding-bottom: 10px;
}

footer .footer-menu li {
	line-height: 170%;
	text-transform: capitalize;
	display: inline;
	margin: 0 7px 10px 0;
	font-size: 15px;
}

footer .footer-menu li a {
	color: #000;
	text-decoration: none;
}
</style>
</html>
