 #set($staticPath="$request.contextPath/assets")
#set($ctx="$request.contextPath")
<script
	src="$staticPath/js/lib/bootstrap-modal/2.2.4/bootstrap-modalmanager.js"></script>
<script
	src="$staticPath/js/lib/bootstrap-modal/2.2.4/bootstrap-modal.js"></script>

<script>
function subBtn(){
	var vali = true;
	$("#addForm").find(".require").each(function(){
		if($(this).val()==""){
			vali=false;
			$(this).css("border","1px solid red");
		}else{
			$(this).css("border","1px solid #ddd");
		}
	});
	$("#addForm").find(".number").each(function(){
		if($(this).val()=="" || !/^\d*$/.test($(this).val())){
			vali=false;
			$(this).css("border","1px solid red");
		}else{
			$(this).css("border","1px solid #ddd");
		}
	});
	if(vali){
		$("#subBtn").removeAttr("onclick");
		var data = $("#addForm").serialize();
		$.post("$ctx/userInfo/add.action",data,function(data){
			if(data=='true'){
				queryBut(1);
			}else{
				alert("添加失败");
			}
			$("#subBtn").attr("onclick","subBtn()");
		});
	}
}

function updateBtn(){
	var vali = true;
	$("#updateForm").find(".number").each(function(){
		if(!/^\d*$/.test($(this).val())){
			vali=false;
			$(this).css("border","1px solid red");
		}else{
			$(this).css("border","1px solid #ddd");
		}
	});
	
	$("#updateForm").find(".require").each(function(){
		if($(this).val()=="" || $(this).val() == 0){
			vali=false;
			$(this).css("border","1px solid red");
		}else{
			$(this).css("border","1px solid #ddd");
		}
	});
	
	if(vali){
		$("#updateBtn").removeAttr("onclick");
		var data = $("#updateForm").serialize();
		$.post("$ctx/userInfo/update.action",data,function(data){
			if(data=='true'){
				queryBut(1);
			}else{
				alert("修改失败!");
			}
			$("#updateBtn").attr("onclick","updateBtn()");
		});
	}
}

function queryBut(page){
	$("input[name='pageNo']").val(page);
	$("input[name='functionName']").val("queryBut");
	$("#queryForm").submit();

}

function del(id,state,item){
	if(confirm("是否确认"+(state==1?"恢复":"删除")+"？")){
		$(item).removeAttr("onclick");
		$.post("${ctx}/userInfo/del",{userId:id,yn:state},function(data){
			if(eval(data) == "ok"){
				queryBut(1);
			}else{
				alert((state==1?"恢复":"删除")+"失败");
				$(item).attr("onclick","del("+id+",state,this)");
			}
		});
	}

}


function update(id){
	$.post("${ctx}/userInfo/get",{userId:id},function(data){
	if(data != null){
	var userInfo = eval('('+data+')');
	if(userInfo.userId == 0){
	alert("获取不到用户信息!");
	}else{
	$("#updateForm").find("input[name='userId']").val(userInfo.userId);
	$("#updateForm").find("input[name='userAccount']").val(userInfo.userAccount);
	$("#updateForm").find("input[name='userName']").val(userInfo.userName);
	$("#updateForm").find("input[name='mobile']").val(userInfo.mobile);
	$("#updateForm").find("input[name='address']").val(userInfo.address);
	$("#updateForm").find("input[name='role']").each(function (){
	 $(this).val()==userInfo.role ? $(this).attr("checked",true):null;
	});
	}
	}else{
	alert("获取不到用户信息!");
	}
			
	});
}
</script>
<div id="user_right">
	<h4 class="add_tender_title font_main">用户管理</h4>
	<form action="$ctx/userInfo/list.action" method="post"
		class="form form-horizontal responsive" id="queryForm">
		<input name="pageNo" type="hidden" /> <input name="functionName"
			type="hidden" />
		<div class="row cl">
			<label class="form-label col-xs-1">用户姓名：</label>
			<div class="formControls col-xs-2">
				<input type="text" class="input-text" placeholder="" name="userName"
					datatype="" nullmsg="" value="$!{userInfoQuery.userName}">
			</div>
			<label class="form-label col-xs-1">用户账号：</label>
			<div class="formControls col-xs-2">
				<input type="text" class="input-text" placeholder=""
					name="userAccount" datatype="" nullmsg=""
					value="$!{userInfoQuery.userAccount}">
			</div>
			<label class="form-label col-xs-1">手机号：</label>
			<div class="formControls col-xs-2">
				<input type="text" class="input-text" placeholder="" name="mobile"
					datatype="" nullmsg="" value="$!{userInfoQuery.mobile}">
			</div>
			<label class="form-label col-xs-1">联系地址：</label>
			<div class="formControls col-xs-2">
				<input type="text" class="input-text" placeholder="" name="address"
					datatype="" nullmsg="" value="$!{userInfoQuery.address}">
			</div>
			<div class="formControls col-xs-1">
				<input class="btn btn-primary radius size-M" type="button"
					value="查询用户" onclick="queryBut(1)">
			</div>
		</div>

		<div class="row cl text-l">
			<input class="btn btn-warning radius mar_l25" type="button"
				value="新增用户" data-toggle="modal" href="#channel04">
		</div>
	</form>
	<table
		class="table table-bg table-border table-bordered table-hover mar_t20 ">
		<thead>
			<tr class="text-c">
				<th>用户账号</th>
				<th>用户姓名</th>
				<th>手机号</th>
				<th>联系地址</th>
				<th>角色</th>
				<th>创建时间</th>
				<th>是否有效</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($record in $userInfos)
			<tr class="text-c">
				<td>$!{record.userAccount}</td>
				<td>$!{record.userName}</td>
				<td>$!{record.mobile}</td>
				<td>$!{record.address}</td>
				<td>$!{record.role}</td>
				<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!record.createDate)</td>
				<td>#if($!{record.yn}==0) 无效 #else 有效 #end</td>
				<td>#if($!{record.yn}==1) <a class="font_main"
					onclick="del($!record.userId,0,this)">删除</a> &nbsp <a class="font_main" data-toggle="modal"  href="#channel03"
					onclick="update($!record.userId)">修改</a> #else <a
					onclick="del($!record.userId,1,this)" class="font_main">恢复</a> #end
				</td>
			</tr>
			#end
		</tbody>
	</table>
	$pageBut
</div>
<!--右侧end-->
<!--增加库房 弹出层-->
<div id="channel04" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalLabel">增加用户</h3>
		<a class="close" data-dismiss="modal" aria-hidden="true"
			href="javascript:void();">×</a>
	</div>
	<div class="modal-body">
		<form action="" method="post" class="form form-horizontal responsive"
			id="addForm">
			<div class="row cl">
				<label class="form-label col-xs-3">用户账号：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require" name="userAccount">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">用户姓名：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require" name="userName">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">手机号：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require number" name="mobile">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">联系地址：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require" name="address">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">角色：</label>
				<div class="formControls col-xs-5">
					<input type="radio" class="input" name="role" value="1">后台账号
					<input type="radio" class="input" name="role" value="2"
						checked="true">前台账号
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary radius" id="subBtn" onclick="subBtn()">提交</button>
	</div>
</div>
<!--增加库房 end-->




<!--修改库房 弹出层-->	<div id="channel03" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
		<h3 id="myModalLabel">修改用户</h3>
		<a class="close" data-dismiss="modal" aria-hidden="true"
			href="javascript:void();">×</a>
	</div>
	<div class="modal-body">
		<form action="" method="post" class="form form-horizontal responsive"
			id="updateForm">
			<div class="row cl">
				<label class="form-label col-xs-3">用户账号：</label>
				<div class="formControls col-xs-5"><input type="hidden"  name="userId">
					<input type="text" class="input-text require" name="userAccount" disabled="disabled" >
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">用户姓名：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require" name="userName">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">手机号：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require number" name="mobile">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">联系地址：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text require" name="address">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-3">角色：</label>
				<div class="formControls col-xs-5">
					<input type="radio" class="input" name="role" value="1">后台账号
					<input type="radio" class="input" name="role" value="2"
						checked="true">前台账号
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary radius" id="subBtn" onclick="updateBtn()">提交</button>
	</div>
</div>
<!--修改库房 end-->



