#set($layout="showarticlelayout.vm")
#set($staticPath="$request.contextPath/assets")
#set($ctx="$request.contextPath")
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="$staticPath/css/article.css" rel="stylesheet"
	type="text/css" />
<script language="javascript" type="text/javascript"
	src="$staticPath/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript"
	src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<title>$!{article.title}</title>
<style>
body img {
	max-width: 100%;
}
</style>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg">
	<div id="js_article" class="rich_media">
		<div id="js_top_ad_area" class="top_banner"></div>
		<div class="rich_media_inner">
			<div id="page-content">
				<div id="img-content" class="rich_media_area_primary">
					<h2 class="rich_media_title" id="activity-name">
						$!{article.title}</h2>
					<div class="rich_media_meta_list">
						<em id="post-date" class="rich_media_meta rich_media_meta_text"
							style="color: #8c8c8c;">$!date.format('yyyy-MM-dd
							',$!article.createTime)</em> &nbsp; <a
							class="rich_media_meta rich_media_meta_link rich_media_meta_nickname"
							style="text-decoration: none; color: #607fa6;"
							href="javascript:void(0);" id="post-user">$!{article.writer}</a>
						<span
							class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">$!{article.writer}</span>

						<span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
							<i class="profile_arrow arrow_out"></i> <i
							class="profile_arrow arrow_in"></i>
						</span>
					</div>
				</div>
				<div class="rich_media_content " id="js_content">
					$!{article.info}</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script>
	$(function() {
		$('img').css({
			'height' : 'auto'
		});
	})
</script>
</html>

