#set($ctx="$request.contextPath")
<!--左侧start-->
<div class="Hui-aside" id="user_left">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt>用户管理</dt>
			<dd>
				<ul>
					<li><a href="${ctx}/userInfo/list.action">用户列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt>发布管理</dt>
			<dd>
				<ul>
					<li><a href="${ctx}/article/list">文章列表</a></li>
					<li><a href="${ctx}/productController/list">产品列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt>字典管理</dt>
			<dd>
				<ul>
					<li><a href="${ctx}/dicController/list.action">产品类型</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</div>
<!--左侧end-->

