@charset "utf-8";
/*注册样式*/
.register_Tab{ width:1000px; margin:30px auto; font-size:14px;}
.register_Tab .Top_loginbtn{ width:200px; position:absolute; top:-25px; right:0px;}
.register_Tab .Qr_code{ width:175px; height:200px; position:absolute; top:20%; right:10%;} 
.register_Tab .Qr_code span{ display:block; text-align:center; width:100%; height:35px; line-height:35px;}
.register_tabCon {min-height:300px; background:#fff; border:1px solid #eaeaea; padding:10px 0px 50px 50px;margin-top:-1px;}
.register_tabCon .size-L{ width:286px;}
.register_tabCon .size-M{ width:140px;}
.size-36{ padding:4px 36px !important;}
.register_tabCon .btn-upload-wid{width:140px; height:120px;}
.register_tabCon .upload-url{width:108px; height:68px; background:url(../images/basic_icon.png) -568px 0px; border:none;}
.register_tabCon .register_icon{width:24px; height:24px; position:absolute; top:5px; right:20px;}
.register_tabCon .register_iconUser{background: url(../images/basic_icon.png) -140px -244px;}
.register_tabCon .register_iconPassword{background: url(../images/basic_icon.png) -176px -244px;}
.register_tabCon .register_topbox{ width:90%; min-height:80px; padding:10px 0px; background:#f8fcff;border:1px dashed #c5e2f8;}

/*认证上面图片和流程*/
#User_authent{ min-width:1000px; width:100%; height:300px; background:#1d9ed8 url(../images/Userauthent_bg.jpg) no-repeat center; position:relative;}
#User_authent .Process_tit{ position:absolute; bottom:140px; right:25%; font-size:30px; color:#fff;}
#User_authent .Process_Box{width:1000px; height:110px; margin:auto; position:absolute;bottom:0px; left:50%; margin-left:-500px; background:rgba(0,0,0,0.4);}
.User_authentcon{ margin-top:0px;}
.User_authentcon_line{ height:2px; border-bottom:2px solid #eaeaea; margin:30px 30px 30px 0px;}
/*认证流程样式*/
.stepflex{width:600px; height:10px;border-top:10px solid #e4e4e4;text-align:center;margin:35px auto; border-radius:5px;position: relative;}
.stepflex dl{width:140px;float:left;position:absolute;}
.stepflex dl dt,.stepflex dl dd{ width:100%;text-align:center; margin:10px 0;color:#fff;}
.stepflex span{ display:block}
.s-num{color:#e4e4e4;font-size:24px;width:32px;height:32px;line-height:32px; margin:auto;border-radius:50%;background:#fefefe; border:2px solid #e4e4e4;}
.s-text {color:#fff;text-align:center;font-size:14px; font-weight:bold}
.doing .s-num {background:#f6ad3c; color:#fff;}
.doing .s-text {color:#f6ad3c;text-align:center;}
.first{left:-70px;top:-35px;}
.second{left:50%;top:-35px; margin-left:-70px}
.third{right:-70px;top:-35px;}
/*注册成功准备认证里面的信息*/
.register_tabCon .register_success{width:505px; height:auto; margin:50px auto;}
.register_tabCon .register_success .register_success_top{width:505px; height:52px; margin:0 auto; background:url(../images/basic_icon.png) no-repeat -609px -162px; margin-left:45px; text-indent:40px;}
.register_tabCon .register_success .register_success_top span{font-size:24px; font-weight:bold; margin:4px 0 0 0;}
.register_tabCon .register_success .register_success_milldel{width:505px; height:70px; background:#f8fcff; border:1px dashed #c5e2f8; margin:32px auto;}
.register_tabCon .register_success .register_success_milldel span{margin-left:45px;}
.register_tabCon .register_success .register_success_box{margin:50px auto;}
/*应标界面*/
#c_table th,#c_table td{ text-align:center;}
/*安全信息设置*/
.security{ height:56px;line-height:56px;}
.set_progress,.set_bar,.set_only{height:10px; font-size:0;line-height:0;}
.set_progress{overflow:hidden; width:400px;-khtml-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px; margin-top:30px;}
.set_bar{width:100%;background-color:#efefef}
.set_only{display:inline-block; background-color:#ff6700;}
.set_content{ width:550px; margin:50px auto;  }
.set_content dl{ height:40px; padding:30px 0; border-bottom:1px solid #e5e5e5;}
.set_content dt,.set_content dd{ float:left;}
.set_content dt{ top:30px; left:-60px;}
.set_content .wid_300{ width:350px;}
#set_myModal,#set_pay,#find_pay,#myInput,#set_apt01{ width:500px; margin-left:-250px;}
#set_myModal .modal-header,#set_phone .modal-header,#set_pay .modal-header,#find_pay .modal-header,#set_apt .modal-header,#set_apt01 .modal-header{ border-bottom:none;}
#set_phone,#set_apt{ width:700px; margin-left:-300px;}
	/*安全信息设置-绑定电话或邮箱流程*/
#set_phone .change_password{ width:550px; margin:40px auto; height:auto; }
#set_phone .set_phone_step{width:550px;text-align: center;margin: 32px auto; border-top:none;}
#set_phone .set_phone_step dl{float: left;position: relative;width:170px;top: -5px;border-top: 8px solid #bdbec1; margin-right: 2px;}
#set_phone dl .number{position: relative; margin: -15px auto 0; color: #fff; font-weight: 700; width: 27px; height: 27px;background-image: url(../images/step2013.png);background-position: -6px; line-height: 27px;}
#set_phone .set_phone_doing .number{background-position: -80px -1px;}
#set_phone .set_phone_step .set_phone_doing{border-top-color: #a7ce39;}
/*修改支付密码*/
#set_pay .false{ display:inline-block; top:34px; left:175px; }
#find_pay .ver_mode{ color:#0b6fad;}

/*我的积分*/
#my_integral .my_integral_title {border-bottom: 2px solid #e5e5e5;}
#my_integral .my_integral_title span {cursor: pointer;font-size:15px;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 10px}
#my_integral .my_integral_title span.current{color:#0a6999; font-weight: bold; border-bottom:2px solid #0a6999; margin-bottom:-2px;}
.tr_check_box .icheckbox-blue{ top:-12px; left:20px;}
#my_integral .my_integral_content{ padding:10px;}
.my_integral_title b{ top:5px; left:290px;}
.my_integral_content th,.my_integral_content td{ text-align:center;}
.my_integral_content td,.shop_notice td,.table td{ border-bottom:1px solid #eaeaea;}

/*公告查看*/
.notice_title h5{ font-size:16px; height:40px; line-height:40px; margin-bottom:0px;}
.shop_notice th,.shop_notice td{ text-align:center;}
.shop_cont{ margin:0 100px;}
.shop_cont p{ text-indent:2rem;}
/*站内信*/
.message_top .icheckbox-blue,#all .icheckbox-blue{top:2px; left:5px;}
.message_content .icheckbox-blue{ top:-10px; left:8px;}
.message_content .check-box{ padding-right:0px;}
.message_content .time{ width:25px; height:25px; float:left; vertical-align:middle;}
.message_content .xinf{ width:18px; height:18px; margin:0 5px;}
.message_content li{ padding-left:52px; margin-bottom:10px;}
#all{ padding-left:136px;}

/*求购信息*/
.ask_buy textarea{ height:200px;}

/*优惠券*/
.coupon .coupon_box{ width:220px; height:270px; margin:20px 25px 0 0; background:#f8f8f8; float:left;}
.coupon .coupon_box dt{ width:220px; height:140px; overflow:hidden;}
.coupon .coupon_box .color_sort01{ background:#bee580;}
.coupon .coupon_box .color_sort02{ background:#c1c1c1;}
.coupon .coupon_box .color_sort03{ background:#74d2d4;}
.coupon .coupon_box .color_sort04{ background:#ffc54f;}
.coupon .coupon_box dt img{width:40px; height:40px; position:absolute; top:50%; margin-top:-20px; z-index:1;}
.coupon .coupon_box dt .right_bg{ right:-20px;}
.coupon .coupon_box dt .left_bg{ left:-20px;}
.coupon .coupon_box dt p{ text-align:center; color:#fff; margin-bottom:0px; font-size:12px;}
.coupon .coupon_box dt .money{ font-size:30px; margin-top:20px; }
.coupon .coupon_box dd{ padding:15px;}
.coupon .coupon_box dd p{ width:190px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.coupon .coupon_box dd input{ margin-left:70px;}
.coupon_icon{ width:75px; height:75px; top:80px; right:-6px; z-index:1;}
