@charset "utf-8";
/* CSS Document */
/* 推荐商品开始  也有店内推荐类目 */
.commodity,.Store_category,.Store_newest{width:200px; overflow:hidden; background:#fff; margin-bottom:15px;}
.commodity .commodity_title,.Store_category .Store_category_title,.Store_newest .Store_newest_title{width:200px; height:40px; background:#0b6fad;}
.commodity .commodity_title i{background:url(../images/basic_icon.png) no-repeat -164px -19px;}
.commodity .commodity_title i,.Store_category .Store_category_title i,.Store_newest .Store_newest_title i{width:20px; height:20px; margin:10px 0 0 15px;}
.commodity .commodity_title span,.Store_category_title span,.Store_newest .Store_newest_title span{margin:8px 0 0 10px; font-size:16px; color:#fff;}
.commodity .commodity_list,.Store_category .Store_category_list,.Store_newest .Store_newest_list{width:198px; overflow:hidden;}
.commodity .commodity_list ul li{width:180px; height:280px; border-bottom:1px dashed #eaeaea; margin:10px auto;}
.commodity .commodity_list ul li:last-child{border-bottom:none;}
.commodity .commodity_list span{font-size:16px; color:#ff6700; font-weight:bold;}
/* 店内推荐类目开始 */
.Store_category .Store_category_title i{background:url(../images/basic_icon.png) no-repeat -311px -20px;}
.Store_category .Store_category_tab{padding-top:10px;}
.Store_category .Store_category_tab li{width:180px; margin:5px auto; font-size:14px; color:#575757;}
.Store_category .Store_category_tab li h4{color:#575757; font-size:14px;}
.Store_category .Store_category_tab li h4 b{background:url(../images/basic_icon.png) no-repeat -105px -110px; width:10px; height:10px; margin:7px 0 0 0;}
/* 店内最新商品开始 */
.Store_newest .Store_newest_title i{background:url(../images/basic_icon.png) no-repeat -357px -23px;}
.Store_newest .Store_newest_list li{width:180px; height:75px; margin:10px auto; border-bottom:1px dashed #eaeaea;}
.Store_newest .Store_newest_list li img{ width:68px; height:68px;}
.Store_newest .Store_newest_list ul li:last-child{border-bottom:none;}
.Store_newest .Store_newest_list span{line-height:20px;}

.advertisement_l .info a{ display:block; text-align:left; padding-left:8px;}
.advertisement_l .font_left i{background: url(../images/basic_icon.png) no-repeat -105px -110px; width: 10px; height: 10px; margin: 7px 0 0 0;    position: absolute; display: block; cursor: pointer; right: 10px; top: 7px; text-align:center; color: #666;}