/****************头部***************************/
#shop_header{ width:100%; margin:0 auto;background:#fff;}
#shop_header .shop_head{ width:1200px; margin:0 auto; height:30px; line-height:30px; }
.shop_head span img,.shop_head span{ display:block; float:left; margin:0 5px;}
.shop_head span img{ margin:6px 5px 0 0;}
.shop_head .grade{ width:18px; height:19px; background:url(../images/basic_icon.png) no-repeat -20px -60px; margin-top:5px;}
.shop_head .right_grade span{ font-size:12px;}
.shop_head div .line{width:1px; height:10px; float:left; background:#CCC; margin:10px 10px 0 10px;}
.shop_head div .arrow_down{ width:8px; height:5px; background:url(../images/basic_icon.png) no-repeat -87px -110px; margin:12px 0 0 5px; cursor:pointer;}

/*店铺介绍*/
#shop_intro{display:none; width:365px; height:350px; background:#fff; top:30px; right:-160px; z-index:2; box-shadow:2px 2px 15px #8c8c8c;}
#shop_intro .shop_intro_top{ height:75px; margin:10px 10px 0 10px;}
#shop_intro .logo{ margin:10px 15px 10px 20px;}
#shop_intro .logo img{ width:75px; height:55px;}
#shop_intro .shop_intro_center{ height:115px;  padding:0 10px;}
#shop_intro .shop_intro_center img{ width:30px; height:30px; margin:10px 80px;}
#shop_intro .shop_intro_center p{ text-align:center; font-size:12px; line-height:25px; font-weight:normal;}
#shop_intro .shop_intro_center .right .p01{ font-weight:bold; font-size:14px; text-align:left;}
#shop_intro .shop_intro_center .right b{ margin-left:35px; color:#e60012;}
#shop_intro .shop_intro_bottom{ height:130px; background:#f8f8f8; padding:10px 0;}
#shop_intro .shop_intro_bottom a{ padding:5px 40px; background:#ff8700; color:#fff; border-radius:2px;}
#shop_intro .shop_intro_bottom b i{ color:#0a2383;}
#shop_intro .shop_intro_bottom div p{ font-weight:normal; text-align:center;}
/*********************店铺介绍结束****************/

/*普通商品技术服务*/
.container{ width:1200px; margin:0 auto;}
.mar_l15{ margin-left:15px;}
.mar_t34{ margin-top:34px;}
.mar_t60{ margin-top:60px !important;}
.mar_r26{ margin-right:26px !important;}
.mar_rno{ margin-right:0 !important;}
.pad_t15{ padding-top: 15px;}
.bj_fafafa{background:#fafafa;}
.bor_t_1{border-top:1px solid #ffab14;}
.bor_t_2{border-top:1px solid #83c44e;}
.bor_t_3{border-top:1px solid #1f96f4;}
.bor_t_4{border-top:1px solid #e53832;}
.bor_t_5{border-top:1px solid #00c0a5;}

/*头部导航*/
.nav_ordinary{ height:58px; width:1200px; margin:15px 0; background:#333335;}
.nav_ordinary h1,.nav_ordinary h1 a{ width:220px; height:58px; display:block;}
.nav_ordinary h1 a img{ width:200px; height:48px; margin:5px 10px;}

.nav_ordinary ul li a{ height:58px; line-height:58px; color:#fff; padding:0 15px;}
.nav_ordinary ul li:hover{ background:#0b6fad;}
.active_nav_ordinary{ background:#0b6fad; }

/*轮播*/
#slider-3,#slider-3 .slider,#slider-3 .tempWrap ul{width:980px; height:460px;}
/* 下面是前/后按钮代码，如果不需要删除即可 */
#slider-3 .prev,#slider-3 .next{ position:absolute; left:1%; top:50%; margin-top:-25px; display:block; width:46px; height:65px; background:url(../images/shopping_arrow01.png) 0 no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
#slider-3 .next{ left:auto; right:1%; background-position:-54px 0; }
#slider-3 .prev:hover,
#slider-3 .next:hover{ filter:alpha(opacity=100);opacity:1;  }
#slider-3 .prevStop{ display:none;  }
#slider-3 .nextStop{ display:none;  }
/*左侧导航*/
.slider-3 .nav_list{ width:220px;  height:auto;}
.slider-3 .nav_list ul{ width:220px; height:428px;background:#5b5754; padding:12px 0 20px 0; }
.slider-3 .nav_list ul li{height:40px; line-height:40px; font-size:14px; }
 .slider-3 .nav_list ul li:hover{ background:#0b6fad;}
.slider-3 .nav_list ul li .nav_list_child{ padding:0 0 0 30px;}
.slider-3 .nav_list ul li .nav_list_child a{ color:#fff;}
.slider-3 .nav_list ul li .active_div{ width:219px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#fff;}
.slider-3 .right_pos{ display:none; width:398px; min-height:450px; background:#fff; border:1px solid #e5e5e5; position:absolute; top:0px; left:220px; z-index:10; height:458px; overflow-y:auto;}
.slider-3 .right_pos dl{ padding:10px 15px; font-size:14px;}
.slider-3 .right_pos dl dt{ color:#0b6fad; font-weight:bold; text-align:left;}
.slider-3 .right_pos dl dd{ line-height:25px;text-align: left;}
.slider-3 .right_pos dl a{ display:inline-block; padding:0 15px 0 0;}
.slider-3 .nav_right ul li{ padding:0 30px;}
.slider-3 .nav_right ul li a{ color:#fff; font-size:14px;}
/*icon*/
.slider-3 .nav_list i{ display:inline-block; margin-left:5px; background:url("../images/basic_icon.png") no-repeat;}
.slider-3 .nav_list .right_arrow{ width:8px; height:12px; background-position: -146px -110px; margin:15px 30px 0 0;}

/*轮播下方推荐产品*/
.recommend ul li{ width:288px; height:118px; margin:5px 10px 0 0; float:left;}
.recommend ul li:last-child{ margin-right:0px;}
.recommend ul li img{ width:288px; height:118px;}

/*--技术服务产品---*/
.technical_service{width:1180px;height:auto;}
.technical_service dl,.technical_service dl dd{width:100%;height:auto; }
.technical_service dl dd{width:100%;min-height:200px; margin:10px auto;}
.technical_service dl dt{ width:100%;height:45px;font-size:22px; clear:both;}
.technical_service dl dt i{width:24px; height:20px;display:inline-block;margin:0px 20px;}
.technical_servicemin_box{ width:206px;height:200px;float:left; background:#fff; margin:0px 10px 20px 0px; padding:10px; text-align:center;}
.technical_servicemin_box p,.technical_servicemin_box h3{ width:100%;line-height:18px; height:18px; margin:10px 0;}
.technical_servicemin_box .icon_PlaceOrder{width:10px; height:10px; background:url(../images/basic_icon.png) -158px -112px; display:inline-block;}
.technical_servicemin_box:hover{box-shadow: 0px 0px 15px #ddd;}
.technical_service .btn-primary{}

/*所有商品*/
.floor_com .public_list_div:hover .buy_list_cont_com{ background:#333335;}
.floor_com_l,.floor_com_l img{ height:300px; width:225px;}
.floor_com .public_list_div:hover .buy_list_cont_com a,.floor_com .public_list_div:hover .buy_list_cont_com span{ color:#fff;}
.floor_com .public_list_div{ width:225px; height:300px; margin:0 15px 15px 0; padding:0;}
.floor_com .public_list_div_mrn{ margin-right:0;}
.floor_com .public_list_div_mbn{ margin-bottom:0;}
.floor_com .public_list_div .list_pic{ width:100%; height:190px; margin:0 auto;}
.floor_com .list_pic a,.floor_com .list_pic a img{ display:block; width:100%; height:100%;}
.floor_com .buy_list_cont{ width:960px;}
.ico_danger{ width:24px; height:24px; background: url("../images/basic_icon.png") -272px -20px no-repeat; left:-26px;top:1px; }
.public_list_div a{ display:inline-block; width:200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal;}
.public_list_div{ width:220px; height:290px; background:#fff; margin:20px 0 0 20px;}
.public_list_div:first-child{ margin-left:0px;}
.public_list_div:hover{ box-shadow: 0px 0px 15px #ddd;}
.public_list_div div{ line-height:30px; height:110px; text-align: center; font-size:14px;}
.public_list_div div div{ line-height:24px; height:24px;}
.public_list_div .list_pic{ width:200px; height:190px; margin:10px;}
.floor_com_title{ width:1200px; height:45px; line-height:45px; font-size:22px; padding:10px;}


/*普通商品技术服务详细*/

/*店内推荐类目 */
.Store_category{width:200px; overflow:hidden; background:#fff; margin-bottom:15px;}
.Store_category .Store_category_title{width:200px; height:40px; background:#5b5754;}
.Store_category .Store_category_title i{width:20px; height:20px; margin:10px 0 0 15px;}
.Store_category_title span{margin:8px 0 0 10px; font-size:16px; color:#fff;}
.Store_category .Store_category_list{width:198px; overflow:hidden;}
/* 店内推荐类目开始 */
.Store_category .Store_category_title i{background:url(../images/basic_icon.png) no-repeat -311px -20px;}
.Store_category .Store_category_tab{padding-top:10px;}
.Store_category .Store_category_tab li{width:180px; margin:5px auto; font-size:14px; color:#575757;}
.Store_category .Store_category_tab li h4{color:#575757; font-size:14px; background:#fff; font-weight:normal;}
.Store_category .Store_category_tab li .active_h4{ font-weight:bold;}
.Store_category .Store_category_tab li h4 b{background:url(../images/basic_icon.png) no-repeat -105px -110px; width:10px; height:10px; margin:7px 0 0 0;}

/*搜索页面列表*/
.technical_service_s{ width:985px;}
#right .search{ width:100%; height:auto; margin:0 auto;}
#right .search_title_top,#right .title_bottom{ width:983px; height:38px;line-height:38px; background:#fff; border:1px solid #e5e5e5;}
#right .search_title_top span {cursor:pointer; display:inline-block; float:left; font-weight:bold; height:38px; line-height:38px; padding: 0 15px; border-right:1px solid #e5e5e5; color:#666;}
#right .search_title_top span.current{color:#fff; background:#0b6fad;}
#right .search_title_top span .arrow_up,#right .tabBar span .arrow_down{ display:inline-block; width:10px; height:10px; background:url("../images/basic_icon.png") -497px -27px no-repeat; margin-left:5px;}
#right .search_title_top span .arrow_down{ background-position:-510px -27px;}
#right .search_title .money_inp,#search .search_title button{ width:68px; height:20px;line-height:20px; border:1px solid #e5e5e5;}
#right .search_title button{ width:48px;background:#fff;cursor:pointer; }
#right .right_tab a{display:inline-block; border:none; width:58px; height:24px; line-height:24px; text-align:right; margin:8px 0; padding:0 10px 0 0;}
#right .right_tab .current_bg{ background:#0b6fad; color:#fff;}
#right .right_tab .tab_icon01,#right .right_tab .tab_icon02{ display:block; width:16px; height:16px; margin:5px 0 0 12px; background:url("../images/basic_icon.png") no-repeat;}
#right .right_tab .tab_icon01{ background-position:-466px -60px;}
#right .right_tab .tab_icon02{ background-position:-237px -22px;}
#right .right_tab .current_bg .tab_icon01{ background-position:-201px -22px;}
#right .right_tab .current_bg .tab_icon02{ background-position:-492px -60px;}

#right .search{ width:100%; height:auto; margin:0 auto;}
#right .search_title_top,#right .title_bottom{ width:983px; height:38px;line-height:38px; background:#fff; border:1px solid #e5e5e5;}
#right .search_title_top span {cursor:pointer; display:inline-block; float:left; font-weight:bold; height:38px; line-height:38px; padding: 0 15px; border-right:1px solid #e5e5e5; color:#666;}
#right .search_title_top span.current{color:#fff; background:#5b5754;}
#right .search_title_top span .arrow_up,#right .tabBar span .arrow_down{ display:inline-block; width:10px; height:10px; background:url("../images/basic_icon.png") -497px -27px no-repeat; margin-left:5px;}
#right .search_title_top span .arrow_down{ background-position:-510px -27px;}
#right .money_inp,#search .search_title button{ width:68px; height:20px;line-height:20px; border:1px solid #e5e5e5;}
#right .search_title button{ width:48px;background:#fff;cursor:pointer; }
#right .right_tab a{display:inline-block; border:none; width:58px; height:24px; line-height:24px; text-align:right; margin:8px 0; padding:0 10px 0 0;}
#right .right_tab .current_bg{ background:#0b6fad; color:#fff;}
#right .right_tab .tab_icon01,#right .right_tab .tab_icon02{ display:block; width:16px; height:16px; margin:5px 0 0 12px; background:url("../images/basic_icon.png") no-repeat;}
#right .right_tab .tab_icon01{ background-position:-466px -60px;}
#right .right_tab .tab_icon02{ background-position:-237px -22px;}
#right .right_tab .current_bg .tab_icon01{ background-position:-201px -22px;}
#right .right_tab .current_bg .tab_icon02{ background-position:-492px -60px;}

#right .title_bottom{ background:#fff; border-top:none;}
#right .title_bottom .address .address_inp{cursor:pointer; width:130px; height:24px; line-height:24px; border:1px solid #e5e5e5; padding-right:20px;text-indent:5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal;}
#right .title_bottom .address .down{ width:9px; height:4px; background:url("../images/basic_icon.png") -21px -110px; top:20px; right:10px;}
#right .title_bottom .address .select{display:none; width:150px; height:auto; line-height:25px; border:1px solid #e5e5e5; background:#fff; top:34px; left:0px; z-index:1;}
#right .title_bottom .select span{ display:inline-block; width:90%; height:25px; line-height:25px; padding:0 5%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#right .title_bottom .select span:hover{ background:#fafafa;}
.mar_rb24_12{ margin-right:24px !important; margin-bottom:12px !important;;}
.wauto{ width:auto !important;}