@charset "utf-8";
/* CSS Document */
.font_red{ color:#b1191a;}
.font_red a{ color:#b1191a;}
/*头部*/
#shop_header{ width:100%; margin:0 auto;background:#fff;}
#shop_header .shop_head{ width:1200px; margin:0 auto; height:30px; line-height:30px; }
.shop_head span img,.shop_head span{ display:block; float:left; margin:0 5px;}
.shop_head span img{ margin:6px 5px 0 0;}
.shop_head .grade{ width:18px; height:19px; background:url(../images/basic_icon.png) no-repeat -20px -60px; margin-top:5px;}
.shop_head .right_grade span{ font-size:12px;}
.shop_head div .line{width:1px; height:10px; float:left; background:#CCC; margin:10px 10px 0 10px;}
.shop_head div .arrow_down{ width:8px; height:5px; background:url(../images/basic_icon.png) no-repeat -87px -110px; margin:12px 0 0 5px; cursor:pointer;}
/*店铺logo*/
.shop_name{ width:100%; height:155px; background:url(../images/shop_head_bg01.png) repeat-x; margin:0 auto;}
.head_nav_cont{ width:1200px; margin:0 auto; overflow:hidden;}
.head_nav_top{ width:580px; height:45px; margin:35px auto 45px;}
.head_nav_top span{ font-size:14px; height:30px; line-height:30px; color:#fff;}
.head_nav_top .logo{ margin:0 100px;}
.Nav li{ float:left; padding:0 35px;}
.Nav li a{ color:#fff;}
.Nav ul i{color:#fff; float:left;}
/*店铺介绍*/
#shop_intro{display:none; width:365px; height:350px; background:#fff; top:30px; right:-170px; z-index:2; box-shadow:2px 2px 15px #8c8c8c;}
#shop_intro .shop_intro_top{ height:75px; margin:10px 10px 0 10px;}
#shop_intro .logo{ margin:10px 15px 10px 20px;}
#shop_intro .logo img{ width:75px; height:55px;}
#shop_intro .shop_intro_center{ height:115px;  padding:0 10px;}
#shop_intro .shop_intro_center img{ width:30px; height:30px; margin:10px 80px;}
#shop_intro .shop_intro_center p{ text-align:center; font-size:12px; line-height:25px; font-weight:normal;}
#shop_intro .shop_intro_center .right .p01{ font-weight:bold; font-size:14px; text-align:left;}
#shop_intro .shop_intro_center .right b{ margin-left:35px; color:#e60012;}
#shop_intro .shop_intro_bottom{ height:130px; background:#f8f8f8; padding:10px 0;}
#shop_intro .shop_intro_bottom a{ padding:5px 40px; background:#ff8700; color:#fff; border-radius:2px;}
#shop_intro .shop_intro_bottom b i{ color:#0a2383;}
#shop_intro .shop_intro_bottom div p{ font-weight:normal; text-align:center;}
/*轮播上面定位块*/
#slider-3,#slider-3 .slider,#slider-3 .bd .tempWrap,#slider-3 .bd ul{height:360px;}
/* 推荐商品开始  也有店内推荐类目 */
.commodity,.Store_category{width:200px; overflow:hidden; background:#fff; margin-bottom:15px;}
.commodity .commodity_title{width:200px; height:40px; background:#b1191a;}
.commodity .commodity_title i{background:url(../images/basic_icon.png) no-repeat -164px -19px;}
.commodity .commodity_title i{width:20px; height:20px; margin:10px 0 0 15px;}
.commodity .commodity_title span{margin:8px 0 0 10px; font-size:16px; color:#fff;}
.commodity .commodity_list{width:198px; overflow:hidden;}
.commodity .commodity_list ul li{width:180px; height:280px; border-bottom:1px dashed #eaeaea; margin:10px auto;}
.commodity .commodity_list ul li:last-child{border-bottom:none;}
.commodity .commodity_list span{font-size:16px; color:#b1191a; font-weight:bold;}
.commodity_list label{display:inline-block; width:60px; text-align:right;}
.inp_style01,.inp_style02{width:120px; height:28px; line-height:28px; border:1px solid #eaeaea;}
.inp_style02{ width:55px;}
.btn_style01{ display:inline-block; width:60px; height:30px; line-height:30px; text-align:center; background:#ff8700; color:#fff; border-radius:4px; }
.btn_style01:hover{ color:#fff;}

/*right*/
.right_title{ width:100%; height:42px; line-height:42px; border-bottom:2px solid #eaeaea;}
.list_content_top{ min-height:310px; padding-bottom:20px;}
.list_content_top .public_list_div{ width:220px; height:288px; background:#fff; margin:20px 11px 0; border:1px solid #eaeaea;}
.list_content_top .public_list_div div{ line-height:30px; text-align: center; font-size:14px;}
.list_content_top .public_list_div .list_pic{ width:200px; height:190px; margin:10px;}
.list_content_top .public_list_div a{ display:inline-block; width:200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: normal;}
.list_content_bottom{ height:auto; margin:0 auto;}
.list_content_bottom .cont_title{ width:100%; text-align:center; margin:20px auto; color:#b1191a;}
.list_content_bottom .cont_title h2{ font-size:30px;}
.cont_bottom_list{ width:100%; height:auto;}
.cont_bottom_list li{ width:210px; height:143px; float:left; border:1px solid #eaeaea; border-bottom:2px solid #b1191a; text-align:center; padding:10px; margin:15px 5px 0;}
.cont_bottom_list p{ line-height:30px; width:210px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cont_bottom_list .p03{ margin-top:10px;}
.cont_bottom_list .p03 a{ font-weight:bold; font-size:16px; color:#b1191a;}
.style_btn{ display:inline-block; width:95px; height:28px; line-height:28px; border-radius:4px; background:#b1191a; color:#fff;}
.style_btn:hover{ color:#fff;}
.arrow_right{display:inline-block; width:8px; height:14px; background:url(../images/basic_icon.png) no-repeat -160px -110px; top:8px; right:15px;}
/*技术服务店铺 分页*/
.shopPageCode01{ margin:10px 0 30px 0}
.shopPageCode01 span.current{ background-color: #b1191a; border: 1px solid #b1191a;}
.shopPageCode01 a:hover{ border:1px solid #b1191a; color:#b1191a;}

/*店铺详细列表*/
.shop_search{ width:100%; height:auto; margin:0 auto;}
.search_title_top{ width:1180px; padding:10px; background:#fbfbfb;}
.search_title_top .sou{ width:210px; height:30px; padding-right:20px; line-height:30px; border:1px solid #eaeaea; text-indent:5px;}
.search_title_top .search i{ top:5px; right:10px;}
.shop_search_list .cont_bottom_list li{ width:240px; height:180px; margin:15px 7px 0; padding:20px;}
.shop_search_list .cont_bottom_list p{ width:250px;}
.shop_search_list .style_btn{ margin-top:20px;}

